# Deep Learning
tensorflow
keras

# Data Science
numpy
pandas
matplotlib
seaborn
scikit-learn

# Computer Vision
opencv-python
Pillow

# Web Application
streamlit

# Utilities

tqdm
